<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiandanbaoxian">

    <uses-sdk android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />



    <!-- 百度支付需要的权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->


    <!-- Camera features - recommended -->
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />


    <application
        android:name=".application.JieShiBaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"></service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="aae78287a044fc1fb0be30ac0f2f3ea6" />

        <!-- meta-data需要写在application中 -->

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".test.GifTest">

        </activity>
        <activity android:name=".widget.citypicker.ChooseCityActivity"></activity>

        <activity android:name=".ui.stopinsurance.InComeDetailActivity"></activity>


        <activity
            android:name=".ui.me.myteam.FreeJoinTeamActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_NAME}" />

        <activity
            android:name=".ui.me.myteam.MyTeamForLeaderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.me.myteam.MyTeamForMemberActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.me.myteam.CreateTeamActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.me.myteam.LeaderAddNewMemberActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".ui.stopinsurance.PullMoneyDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".ui.ModifyUserInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.ApplyEcoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.ModifyUserPhoneNumberActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.ModifyEmployeeNumberActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>


          <activity
            android:name=".ui.ModifyServiceDescribeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.BrandListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".widget.imagepicker.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.BrowserActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.share.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.stopinsurance.PullMoneyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.stopinsurance.AddCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        <!-- 买保险 页面-->
        <activity
            android:name=".ui.buyinsurance.InsureCarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.buyinsurance.InsureJiaBanDogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.buyinsurance.PengciActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.buyinsurance.InsureOnDrivingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.myinsurance.MyInsureActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.historyprice.MyHistoryPriceListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.mycallpolice.MyCallPoliceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.mymoneypocket.MyMoneyPocketActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyModifyPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
         <activity
            android:name=".ui.CompanyListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
         <activity
            android:name=".ui.ModifyCompanyAddressActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.me.myteam.MyTeamForFreeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.me.myteam.CertificationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <!-- Activities responsible for gathering payment info -->
        <activity android:name=".ui.buyinsurance.OrderCofirmJiaBanDogInsureActivity"></activity>
        <activity android:name=".ui.buyinsurance.OrderCofirmOnDrivingInsureActivity"></activity>
        <activity android:name=".ui.buyinsurance.PayJiaBanDogInsureActivity"></activity>
        <activity
            android:name=".ui.me.myinsurance.MyInsuresListCarInsureDetailActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ui.me.myinsurance.MyInsuresListJiaBanDogInsureDetailActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".ui.stopinsurance.TimePickerActivity" />
        <activity
            android:name=".ui.me.myinsurance.MyInsuresListDrivingInsureDetailActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.me.historyprice.MyHistoryPriceItemActivity"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".test.PingPlusPlusTest"
            android:label="@string/app_name">

        </activity>


        <!-- Ping++ sdk -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付 sdk ，也是 Ping++ sdk 调用入口 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <!-- 银联支付 sdk -->
        <activity android:name="com.unionpay.uppay.PayActivity"></activity>
      <!--微信分享 -->


        <activity android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            >

        </activity>
    </application>
</manifest>
