<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsb">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />


    <!-- Camera features - recommended -->
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />


    <application
        android:name=".application.JieShiBaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".ui.BrowserActivity"
            android:label="@string/title_activity_browser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ShareActivity"
            android:label="@string/title_activity_browser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PullMoneyActivity"
            android:label="@string/title_activity_PullMoneyDescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TimePickerActivity"
            android:label="@string/title_activity_timePicker"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AddCardActivity"
            android:label="@string/AddCardActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- 买保险 页面-->
        <activity
            android:name=".ui.InsureCarActivity"
            android:label="@string/InsureCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InsureJiaBanDogActivity"
            android:label="@string/InsureJiaBanDogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InsureOnDrivingActivity"
            android:label="@string/InsureOnDrivingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyInsureActivity"
            android:label="@string/MyInsureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyHistorySaleActivity"
            android:label="@string/MyHistoryInsureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyCallPoliceActivity"
            android:label="@string/MyCallPoliceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyMoneyPacketActivity"
            android:label="@string/MyPacketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyModifyPasswordActivity"
            android:label="@string/MyModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.TestDecoViewActivity"
            android:label="@string/LoginActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- Activities responsible for gathering payment info -->
        <activity android:name=".ui.OrderCofirmJiaBanDogInsureActivity"></activity>
        <activity android:name=".ui.OrderCofirmOnDrivingInsureActivity"></activity>
        <activity android:name=".ui.PayJiaBanDogInsureActivity"></activity>
        <activity android:name=".test.PagerSlideTest"> </activity>
        <activity android:name=".ui.MyInsuresListCarInsureDetailActivity"> </activity>
        <activity android:name=".ui.MyInsuresListJiaBanDogInsureDetailActivity"> </activity>
    </application>
</manifest>
